extends ../layout
block content
  .uk-section
    .uk-container.uk-container-expand
      .uk-flex.uk-flex-center
        .uk-card.uk-card-default.uk-card-hover.uk-card-body(
          class='uk-width-1-4@l uk-width-1-1@s uk-width-1-2@m')
          h3.uk-card-title.uk-text-center #{title}
          hr
          form(
            id='create-password'
            action='/create-password'
            method='POST')
          input(
            form='create-password'
            type='hidden'
            name='_csrf'
            value=_csrf)
          input(
            form='create-password'
            type='hidden'
            name='email'
            value=email)
          input(
            form='create-password'
            type='hidden'
            name='activationCode'
            value=activationCode)
          .uk-inline.uk-width-1-1.uk-margin
            span.uk-form-icon.uk-form-icon-flip(
              uk-icon='icon: lock')
            input.uk-input.uk-form-large(
              form='create-password'
              name='password'
              required=''
              placeholder='Password'
              type='password'
              uk-tooltip="title: Please provide your password; delay: 2000")
          .uk-inline.uk-width-1-1.uk-margin
            span.uk-form-icon.uk-form-icon-flip(
              uk-icon='icon: lock')
            input.uk-input.uk-form-large(
              form='create-password'
              required=''
              name='confirm'
              placeholder='Confirm password'
              type='password'
              uk-tooltip="title: Please confirm your password; delay: 2000")
          button.uk-button.uk-button-primary.uk-width-1-1.uk-margin-large-top(
            form='create-password'
            type='submit') Submit


